html, body {
    margin: 0;
    padding: 0;
    background-color: #999999;
  }



#cabecalho{
    display: flex;
    justify-content: center;
    padding: 0px;
    width: 1600px;
    height: 200px;

}
#UPjogo{
  display: flex;
  justify-content: center;
  padding: 0px;
}

canvas {
    display: block;
  }